page-explore {
  ion-card ion-card-content {
      padding: 14px;
  }
    .searchbar-clear-icon {
      margin: 0px;  
    }
  .tab-button-icon {
      position: relative;
  }
  .notification-badge {
      position: absolute;
      color: #FFFFFF;
      background-color: #FA775B;
      border-radius: 15px;
      top: 5px;
      left: calc(50%);
      width: 20px;
      height: 20px;
      display: block;
      line-height: 21px;
      font-size: 0.8em;
  }
  .closeContainer{
        justify-content: flex-end;
  }
  .interest-picker {
      .picker {
          margin: 0;
          padding: 0;
          .picker-item {
            display: inline-block;
            list-style-type: none;
            padding: 2px 5px;
            width: 50%;
            button.button {
              background-position: center;
              background-size: 200%;
              border: solid 0.55px #FFFFFF;
              
              &.button-outline-light {
                background-color: transparent;
                border-color: map_get($colors, medium-gray);
                color: map_get($colors, medium-gray);
                font-weight: normal;
              }
            }
          }
      }
  }
  .suggestion-block {
      padding: 5px;
      button {
        font-size: 1.6rem;
        height: 5rem;
        margin: 0;
      }
      button.suggest-interest {
          border-color: map_get($colors, medium-gray);
          color: map_get($colors, medium-gray);
          font-weight: normal;
      }
  }
  ion-slide {
      padding-bottom: 50px;
  }
  h3.title{
        text-align: center;
  }
  .no-feed{
      padding-top: 50%;
      vertical-align: middle;
  }
}
