{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 2015
  },
  "env": {
    "browser": false,
    "node": true,
    "jasmine": true
  },
  "rules": {
    "max-len":  0,
    "prefer-const" :  "off",
    "no-var" :  "off",
    "no-console" :  "off",
    "strict": "off",
    "padded-blocks": 0,
    "comma-dangle": "off",
    "semi": "off"
  }
}
