quick-feedback>div {
    z-index: -1;
    transition: z-index 0.2s step-end;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    &.active {
        display: flex;
        z-index: 9999;
        transition: z-index 0.2s step-start;
    }
    .backdrop {
        opacity: 0;
    }
    .wrapper {
        padding: 2.5rem 3rem;
        background: rgba(0, 0, 0, 0.55);
        color: #ffffff;
        font-weight: bold;
        border-radius: 5px;
        .feedback-icon {
            text-align: center;
            ion-icon {
                color: #ffffff;
                font-size: 12rem;
                line-height: 5rem;
                display: block;
                overflow: hidden;
                height: 6rem;
            }
        }
    }
}