# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore
config/environment-prod.ts
config/environment-stage.ts
google-services.json
node_modules/
www/build/
platforms/
plugins/
*.swp
.DS_Store
Thumbs.db
coverage/
typings/
tmp/
platforms/
coverage/
resources/ios/
resources/android/
