page-landing.ion-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../assets/images/background-landing.png");
    background-size: cover;
    #landing-page-logo {
        margin-top: 5px;
        width: 60%;
    }
    section.landing-content {
        text-align: center;
        position: absolute;
        top: 28%;
    }
    ion-slide {
        img {
            max-height: 135px;
        }
    }
    ion-slides {
        height: auto;
        flex-grow: 0;
    }
    .swiper-container {
        height: auto;
        margin-top: 40px;
        overflow: hidden;
    }
    .swiper-container-horizontal>.swiper-pagination {
        position: absolute;
        top: 280px;
    }
    .swiper-pagination-bullet {
        background: #FFF;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background: #FA775B;
    }
    h1 {
        font-size: 1.3em;
    }
    h2 {
        font-weight: normal;
        margin: 0px 20px 0 20px;
        font-size: 1.1em;
        z-index: 10;
    }
    nav.landing-buttons {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-evenly;
        button:nth-child(2) {
            background: none;
            box-shadow: none;
            span.button-inner {
                margin-top: 9px;
            }
        }
        button {
            margin: 0;
            text-transform: none;
            font-size: 1.8rem;
            &.log-in-button {
                background: none;
                color: #FFF;
                font-weight: normal;
            }
        }
    }
    p.tagline {
        font-size: 18px;
        margin-top: 1.2rem;
    }
}