@import url(http://fonts.googleapis.com/css?family=Exo+2|Signika|Felipa|Lovers+Quarrel|Italianno:400,200,600,800,900);
html {
    line-height: 1;
}

q,
blockquote {
    quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 200 1em/1.5em "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    background: #fff;
}

body::after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0%;
    top: 0%;
    background: #000;
    opacity: 0.001;
    z-index: -10;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: 200 1.5em/1.5em "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #192243;
    font-weight: 600;
}

p {
    font-weight: 200;
    /* padding-bottom: 10px; */
}

.App {
    background: transparent !important;
    min-height: 100vh;
    position: relative;
}

.App-header {
    padding: 30px;
    padding-top: 25px;
    padding-bottom: 10px;
    opacity: 0.9;
    background: #132668;
    padding-left: 4%;
    padding-right: 3%;
    width: 100vw;
    margin: 0;
}

.App-header::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 115px;
    left: 0%;
    top: 0%;
    background: #000;
    opacity: 0.3;
    z-index: -10;
}

.App-header h1 {
    padding-left: 35%;
    font-size: 5em;
    font-weight: 900;
    color: #dce2df;
    font-family: "Lovers Quarrel", cursive;
    line-height: 1;
    margin-bottom: 0;
    padding-bottom: 0;
}

.App-header img {
    width: 80px;
    height: 80px;
    padding: 1em;
    border-radius: 50%;
    border: 2px solid transparent;
    background: cornsilk;
    opacity: 0.6;
}

.headerImage {
    padding-top: 0.25%;
    padding-left: 0;
}

.headerButtonUpdateInterest,
.headerButtonLogout {
    padding-top: 4%;
}

.headerButtonUpdateInterest button,
.headerButtonLogout button {
    background: #c32830;
    color: #fff;
    border: none;
    width: 100%;
}

.headerButtonUpdateInterest button:hover,
.headerButtonLogout button:hover {
    background: #ff4754;
    color: #fff;
}

.headerButtonLogout {
    padding-left: 0;
    padding-right: 0;
}

.App-main {
    margin-right: auto;
    margin-left: auto;
    padding-right: 5%;
    padding-left: 5%;
    width: 100vw;
    padding-bottom: 90px;
}

.App-footer {
    background: #132668;
    padding: 1em 0.5em 0 0.5em;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100vw;
    height: 60px;
    text-align: right;
    margin: 0;
}

.App-footer::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 60px;
    left: 0%;
    bottom: 0%;
    background: #000;
    opacity: 0.3;
}

#termsOfUse a,
#privacyPlicy a {
    font-weight: 400;
    color: #fff;
}

#termsOfUse a:hover,
#privacyPlicy a:hover {
    text-decoration: none;
    color: #ff4754;
}

#footerCopyright {
    color: cornsilk;
}

#footerCopyright span {
    font-family: "Lovers Quarrel", cursive;
    font-size: 1.5em;
}

#btnFacebook {
    margin-top: 150px;
    text-align: center;
}

#lists {
    margin-top: 7%;
    padding: 20px 5px;
}

#lists li {
    background: transparent;
    border: none;
    margin: 0 1em;
    padding-left: 0;
    margin-left: 4px;
}

.interestButton {
    background: #363f7f;
    color: #fff;
    border: none;
}

.selectedButton {
    color: #000;
    background-color: #727b84;
    opacity: 0.65;
}

.interest {
    margin: 10px;
}

.selectedButton,
.interestButton {
    text-align: center;
    font-size: 1em;
    box-sizing: content-box;
    width: 200px;
    cursor: pointer;
    border: none;
}

.btn::first-letter,
.selectedButton::first-letter {
    text-transform: capitalize;
}

.btn.btn-secondary {
    border: none;
}

.interestButton:hover,
.selectedButton:hover {
    background-color: #34324b;
    color: #fff;
    border-color: transparent !important;
}

.btn-secondary:focus,
.btn-secondary.focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#selectUserType:not(button) {
    line-height: 1.5;
    text-align: center;
}

#selectUserType p {
    padding-left: 5px;
}

#submitUserTypeButton {
    padding: 0.5em 1em;
    background: #c32830;
    color: #fff;
    border: none;
}

#submitUserTypeButton:hover {
    background: #ff4754;
    color: #fff;
}

hr {
    background: #132668;
}

#interest li {
    font-size: 0.9em;
    width: auto;
}

#userTypeText {
    padding: 5px;
    padding-left: 6px;
}

#userTypeText,
#organisationUserType,
#volunteerUserType {
    padding-top: 7px;
    margin-right: 10px;
}

.submitPost {
    text-align: center;
}

.submitPost button {
    background: #c32830;
    color: #fff;
    border: none;
}

.submitPost button:hover {
    background: #ff4754;
    color: #fff;
}

.submitPost hr {
    margin-top: 5px;
}

#organisationAvatar {
    text-align: center;
}

#organisationAvatar img {
    border-radius: 50%;
    border: 2px solid #003366;
    margin-top: 50%;
    width: 100px;
    height: 100px;
}

.center-loading,
.center-loading-landingPage {
    margin: 10%;
    margin-left: 35%;
    margin-bottom: 18%;
}

.center-loading {
    margin-top: 15%;
}

.center-loading-landingPage {
    margin-top: 0;
}

.feed,
#post {
    font-family: "Signika", sans-serif;
    color: #192243;
    background-color: rgb(255, 255, 255);
    border: 1px solid #e6e7e9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 2em;
    padding: 2em 1.5em 1em 1.5em;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.454);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.454);
}

.selectedTag {
    color: #000;
    background-color: #727b84;
    opacity: 0.65;
}

.unSelectedTag,
select option:checked {
    background-color: white !important;
}

#locationDetectIconContainer {
    padding-left: 0;
}

#ToolTipUseCurrentLocationIcon {
    font-weight: 900;
    font-size: 1.5em;
    background: transparent;
    color: rgb(49, 164, 0);
    border: 1px solid #132668;
    padding: 0.1em 0.2em;
    margin-top: 0.3em;
    cursor: pointer;
}

#ToolTipUseCurrentLocationIcon i {
    font-weight: 900;
    font-size: 1.5em;
    box-sizing: border-box;
    vertical-align: middle;
}

.location-loading {
    margin-top: 0.5em;
    margin-left: 0;
}

#postInterestTags {
    height: 200px;
}

#postInterestTags>option {
    padding: 0.3em 0.1em;
    border-bottom: 1px dashed #363f7f;
}

#selectInfo {
    font-size: 13px;
    margin-left: 15px;
    padding-top: 12px;
    margin-bottom: 0;
}

.form-control-label {
    display: flex;
    justify-content: center;
}

.feedPhoto {
    max-width: 150px;
    height: auto;
    color: rgb(49, 164, 0);
    font-size: 1em;
    border-radius: 7%;
}

.profileName {
    margin-top: 5px;
}

.feedPhoto p {
    padding: 5px 5px 5px 300px;
    text-align: center;
}

.feedBody {
    font-size: 1.2em;
    line-height: 1.7;
}

.feedColor {
    color: rgb(49, 164, 0);
}

.comment {
    padding-top: 10px;
}

.comment .input {
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: inset 1px 5px 5px rgba(0, 0, 0, 0.166);
    border: 1px solid #acacac;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
}

.commentPhoto {
    max-width: 50px;
    height: auto;
    border-radius: 50%;
}

.input-group-addon {
    background-color: rgb(49, 164, 0);
}

.red {
    padding: 20px;
}

#selectInfo {
    font-size: 12px;
}

.submitPost {
    text-align: center;
}

.inputBG {
    background-color: rgba(255, 255, 255, 0.077);
}

a {
    color: white;
}