@import url(https://fonts.googleapis.com/css?family=Exo+2|Signika|Felipa|Lovers+Quarrel|Italianno:400,200,600,800,900);
html {
    line-height: 1;
}

q,
blockquote {
    quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 200 1em/1.5em "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100vh;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: 200 1.5em/1.5em "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #192243;
    font-weight: 600;
}

p {
    font-weight: 200;
    /* padding-bottom: 10px; */
}

.App {
    background: transparent;
    height: auto;
    position: relative;
}

.App-header {
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    background: #fff;
    padding-left: 4%;
    padding-right: 1%;
    width: 100vw;
    height: 70px;
    margin: 0;
}

.App-header #headerImage {
    text-align: center;
    margin-top: -5px;
}

.App-header #headerImage img {
    height: 50px;
    width: 280px;
}

.App-header #headerLogoImage img {
    width: 100%;
    height: 30px;
    border: 2px solid transparent;
}

#headerLogoImage {
    padding-top: 0.5em;
}

#headerNavigationButtons {
    margin-left: 0px;
    margin-right: 0px;
}

#headerButtonUpdateInterest,
#headerButtonApproveOrgs,
#headerButtonLogout,
#headerButtonFeed,
#headerButtonProfile {
    padding-top: 0.5em;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1.5em;
}

#headerButtonApproveOrgs {
    margin-left: 0.5em;
}

#headerButtonLogout,
#headerButtonProfile,
#headerButtonFeed {
    margin-right: 0;
    margin-left: 0.5em;
}

#headerButtonUpdateInterest button,
#headerButtonApproveOrgs button,
#headerButtonLogout button,
#headerButtonFeed button,
#headerButtonProfile button {
    background: #6acf89;
    color: #fff;
    border: none;
    width: 100%;
}

#headerButtonUpdateInterest button:hover,
#headerButtonApproveOrgs button:hover,
#headerButtonLogout button:hover,
#headerButtonFeed button:hover,
#headerButtonProfile button:hover {
    background: #ff4754;
    color: #fff;
}

#headerButtonLogout {
    padding-left: 0;
    padding-right: 0;
}

.App-main {
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    width: 100vw;
    min-height: 100vh;
    margin-right: 0;
    background: #f7f6f6;
}

.App-main>div {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
}

.App-footer {
    display: flex;
    justify-content: flex-start;
    background: #68c5b5;
    width: 100vw;
    height: 60px;
    margin: 0;
    position: absolute;
    bottom: -60px;
}

.App-footer div.col {
    align-self: center;
}

.App-footer p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.9em;
}

#poweredby,
#userAggreement,
#privacyPlicy,
#feedback,
#faq {
    padding-top: 0.7em;
}

#poweredby a,
#userAggreement a,
#privacyPlicy a,
#feedback a,
#faq a {
    font-weight: 400;
    color: #000;
}

#poweredby a:hover,
#userAggreement a:hover,
#privacyPlicy a:hover,
#feedback a:hover,
#faq a:hover {
    text-decoration: none;
    color: #ff4754;
}

#footerCopyright {
    color: #000;
}

#footerCopyright span {
    font-family: "Lovers Quarrel", cursive;
    font-size: 1.5em;
    display: inline-block;
}

#register_login_buttonsContainer {
    margin: 0;
}

#signIn {
    background: transparent;
    border: none;
    color: #000;
}

#signUpsignInhr {
    margin: 2em 3.5em 2em 3.5em;
}

#landingPageMain {
    margin-left: 0;
    margin-right: 0;
}

#landingPageContentSection {
    background: #fff;
    margin: 5em auto;
}

#landingPageSignUpSignInContainer {
    margin-top: 0;
    padding-bottom: 4em;
}

#landingPageUserType {
    margin-bottom: 1.5em;
}

#landingPageUserType p {
    margin-left: 0.5em;
}

#landingPageSignUpSignInContainer label {
    text-align: right;
}

#landingPageOrganisationButton,
#landingPageVolunteeButton {
    border-radius: 0;
    height: 50px;
    width: 100%;
    background: #fff;
    color: #000;
    border: 1px solid #c2c2c2;
}

#registerConfirmPassword {
    padding-right: 0;
}

#landingPageInfo {
    padding: 2em;
}

#landingPageInfo {
    padding-top: 2em;
    padding-bottom: 5em;
    padding-left: 3.5em;
    background-image: url("../assets/images/Backgroundillustrationweb-01.jpg");
    color: #fff;
    background-size: 100% 100%;
    flex-direction: column;
    height: 416px;
}

#landingPageInfo hr {
    background: #fff;
    margin-right: 3em;
    margin-left: 1.5em;
}

#landingPageWelcome img {
    height: 35px;
    width: 150px;
    margin-left: 0.5em;
}

#landingPageWelcome h1 {
    margin-bottom: 0;
}

#landingPageWelcome h1,
#landingPageWelcome h6 {
    text-align: center;
}

#landingPageWelcome h6 {
    margin-bottom: 1em;
}

#landingPageInfo i {
    vertical-align: bottom;
}

#landingPageInfo p {
    font-size: 1.2em;
    margin: 0.5em auto;
    margin-top: 0.3em;
}

.selectedUserTypeButton {
    background: #fed976 !important;
    color: #000;
}

#signUpButton,
#signInSubmit,
#doneProfileButton {
    background-color: #68c5b5;
    height: 61px;
    width: 100%;
    border-radius: 0;
}

#doneProfileButton {
    height: 50px;
}

#signUpButton:hover,
#signInSubmit:hover,
#doneProfileButton:hover {
    background-color: #c32830;
}

#signUpFacebook .kep-login-facebook.metro {
    width: 100%;
}

.orLoginWithFacebook {
    margin: 2em 1em 1em 1em;
}

#loginFacebook .kep-login-facebook.metro {
    width: 100%;
}

#organisationNameLabel {
    padding-left: 0;
}

#registrationForm .form-group,
#signinForm .form-group,
#profile .form-group {
    margin-bottom: 0;
}

#registrationForm .form-group div,
#signinForm .form-group div,
#profile .form-group div {
    margin-bottom: 0;
    padding-bottom: 0;
}

#registrationForm .form-control,
#signinForm .form-control,
#profile .form-control {
    border-radius: 0;
    margin-bottom: 0;
    height: 61px;
    width: 100%;
    padding-bottom: 0;
    border-width: 1px;
    border-bottom-width: 0;
}

#profile #interest {
    margin-top: 1.5em;
}

#profile #interestsHeading {
    margin-top: 1.5em;
}

#profile .form-control {
    border-width: 0;
    height: 50px;
    border-bottom-width: 1px;
}

#profile .list-group-item {
    padding: 0;
    border-radius: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 1em;
    border: 0;
    margin-bottom: 2em;
}

#profile #listOfInterests {
    padding-left: 0;
    padding-right: 0;
}

#profile label {
    margin: 1em 0 0 0.5em;
}

#profile .interestDetail-info {
    float: right;
    cursor: pointer;
    margin-right: -1.4em;
    margin-top: -1.3em;
    color: cornsilk;
    font-size: 1.1em;
}

#profile .interestDetail-info::after {
    content: "";
    clear: both;
    display: table;
}

#profile .relatedTagsHeading {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 0.3em;
    font-size: 1em;
    text-decoration: underline;
    font-weight: 600;
}

#profile .relatedTags {
    padding-left: 1em;
}

#profile .relatedTags li {
    list-style: none;
}

#registrationForm input:focus,
#signinForm input:focus {
    border-width: 1px;
}

.interestButton {
    border: none;
}

.selectedButton {
    color: #000;
    background-color: #727b84;
    opacity: 0.65;
}

.interest {
    margin: 10px;
}

.selectedButton,
.interestButton {
    text-align: center;
    font-size: 1em;
    box-sizing: content-box;
    min-width: 120px;
    cursor: pointer;
    border: none;
    padding: 1.5em 0.8em;
    border-radius: 0;
    border: none;
}

.btn::first-letter,
.selectedButton::first-letter {
    text-transform: capitalize;
}

.btn.btn-secondary {
    border: none;
}

.interestButton:hover,
.selectedButton:hover {
    background-color: #34324b;
    color: #fff;
    border-color: transparent !important;
}

.btn-secondary:focus,
.btn-secondary.focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#selectUserType:not(button) {
    line-height: 1.5;
    text-align: center;
}

#selectUserType p {
    padding-left: 5px;
}

#submitUserTypeButton,
#submitUpdateInterest,
#cancelUpdateInterest {
    padding: 0.5em 1em;
    background: #c32830;
    color: #fff;
    border: none;
}

#submitUserTypeButton:hover,
#submitUpdateInterest:hover,
#cancelUpdateInterest:hover {
    background: #ff4754;
    color: #fff;
}

#updateInterestType {
    text-align: center;
}

hr {
    background: #132668;
}

#interest li {
    font-size: 0.9em;
    width: auto;
}

#userTypeText {
    padding: 5px;
    padding-left: 6px;
}

#userTypeText,
#organisationUserType,
#volunteerUserType {
    padding-top: 7px;
    margin-right: 5px;
}

.submitPost {
    text-align: center;
}

.submitPost button {
    background: #c32830;
    color: #fff;
    border: none;
}

.submitPost button:hover {
    background: #ff4754;
    color: #fff;
}

.submitPost hr {
    margin-top: 5px;
}

#organisationAvatar {
    text-align: center;
}

#organisationAvatar img {
    border-radius: 50%;
    border: 2px solid #003366;
    margin-top: 50%;
    width: 100px;
    height: 100px;
}

.center-loading,
.center-loading-landingPage {
    margin: 10%;
    margin-left: 35%;
    margin-bottom: 18%;
}

#interestRingLoader,
#updateInterestRingLoader,
#feedRingLoader {
    margin-top: 15%;
}

.center-loading {
    margin-top: 15%;
}

.center-loading-landingPage {
    margin-top: 0;
}

#filterPosts,
.feed,
#post,
#noFeedMessage,
#profile,
#unApprovedOrgsMesage {
    font-family: "Signika", sans-serif;
    color: #192243;
    background-color: rgb(255, 255, 255);
    border: 1px solid #e6e7e9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.454);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.454);
}

.feed {
    padding: 1.5em;
    margin: 3em auto;
    padding-bottom: 0;
}

#post {
    margin-top: 2em;
    padding: 1.5em;
    margin: 2.5em 7em 2.5em 7em;
}

#noFeedMessage {
    padding: 1.5em;
    margin-bottom: 2.5em;
}

#profile {
    margin: 2.5em 9em;
    margin-top: 2em;
    padding: 2em 3em;
}

#unApprovedOrgsMesage {
    margin: 2.5em 9em -1em 9em;
    margin-top: 2em;
    padding: 0.5em 1em;
    background: #ed684b;
    border: none;
}

#unApprovedOrgsMesage p {
    font-size: 1em;
    margin-bottom: 0;
    color: #fff;
    text-align: center;
}

#unApprovedOrgsMesage p>i {
    color: #000;
    vertical-align: middle;
}

#filterPosts {
    margin-top: 3em;
}

#filterPostsAsksOffers,
#filterPostsMostRecent,
#filterPostsByTags {
    margin: 0em 1em;
    padding: 0.5em 0em;
    cursor: pointer;
}

.selectedTag {
    color: #000;
    background-color: #727b84;
    opacity: 0.65;
    width: 100%;
}

.activeFilter {
    font-weight: 700;
}

.unSelectedTag,
select option:checked {
    background-color: white !important;
}

#locationDetectIconContainer {
    padding-left: 0;
    padding-right: 0;
    align-self: center;
}

#ToolTipUseCurrentLocationIcon {
    font-size: 0.9em;
    color: #fff;
    cursor: pointer;
}

#ToolTipUseCurrentLocationIcon button {
    width: 95%;
}

#ToolTipUseCurrentLocationIcon i {
    font-weight: 900;
    font-size: 1.5em;
    box-sizing: border-box;
    vertical-align: middle;
}

.location-loading {
    margin-top: 0.5em;
    margin-left: 0;
}

#postInterestTags {
    min-height: 200px;
}

#postInterestTags.form-control {
    padding: 0.3em 0.3em;
}

.input-group .form-control:first-child,
.input-group .form-control:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#postInterestTags>option {
    padding: 0.3em 0.3em;
    border-bottom: 1px dashed #363f7f;
    width: 100% !important;
}

#selectInfo {
    font-size: 13px;
    margin-left: 15px;
    padding-top: 12px;
    margin-bottom: 0;
}

.form-control-label {
    display: flex;
    justify-content: center;
}

.feedPhoto {
    margin-top: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.feedPhoto img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #003366;
}

.feedTags,
.feedLocation,
.feedCreatedAt,
.feedPostType,
.feedUrl {
    color: #465362;
    font-size: 1rem;
    opacity: 0.9;
}

.feedTags {
    margin-left: 1em;
    font-style: italic;
}

.feedTagsIcon,
.feedLocationIcon {
    color: #003366;
    padding-right: 0;
    text-align: left;
}

.feedCreatedAt,
.feedUrl {
    text-align: right;
}

.feedLocationIcon i,
.feedCreatedAtIcon i {
    vertical-align: baseline;
}

.feedTagsIcon i {
    vertical-align: sub;
}

.feedCreatedAt {
    color: #465362;
    font-size: 0.9rem;
    margin-bottom: 2px;
}

.separatorHr {
    margin-top: 1em;
}

.commentIcon {
    text-align: right;
}

#comments {
    margin-top: 1em;
    background: #d5d5e8;
    padding: 1em 0.5em;
    margin-left: -1.6em;
    margin-right: -1.6em;
    margin-bottom: -0.2em;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.feedBody {
    margin-top: 1em;
    padding-left: 5px;
}

.feedContent {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.currentUserAvatar {
    align-self: center;
}

.currentUserAvatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #003366;
    margin-top: 0.3em;
}

.commentContainer {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0.7;
    color: #0b132b;
}

button {
    cursor: pointer;
}

.newCommentInputContainer {
    padding-top: 5px;
    padding-left: 0;
}

.newCommentInputContainer textarea {
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 0.9em;
    line-height: 1;
    font-family: "Signika", sans-serif;
}

.newComment {
    height: 50px;
    width: 100%;
    margin-left: 1em;
    color: #132668;
}

.commentButtonContainer {
    padding-left: 0;
}

.commentShowHideButton {
    background: transparent !important;
    outline: none !important;
    border-color: transparent;
    border: none;
    outline: none !important;
    text-align: center;
    border: 0.5px solid transparent;
    box-shadow: none !important;
    margin: 1em auto;
    margin-top: 0;
    padding: 5px;
    color: #132668;
}

.commentShowHideButton:hover {
    background: #c32830 !important;
}

.commentShowHideButton .badge {
    background: #c32830;
    color: #fff;
    border: none;
}

.commentShowHideButton i:last-of-type {
    font-weight: 600;
}

.commentPostButton {
    margin-top: auto;
    padding-left: 0;
}

.commentPostButton button {
    padding: 0.5em 3em;
    background: #6acf89;
    color: #111a49;
    border: none;
}

.commentPostButton button:hover {
    background: #ff4754;
    color: #fff;
}

.commentsList {
    margin-left: 0.5em;
    color: #0b132b;
    font-size: 0.7em;
}

.list-group-item {
    background: inherit;
    font-size: 1.2em;
    padding: 0.75rem 0 0.75rem 2rem;
}

.commentContentContainer {
    padding-top: 0.2em;
    padding-left: 0.3em;
}

.commentContentContainer hr {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.commentsList ul li {
    border: none;
    border-width: thin;
}

.commenterAvatar {
    padding-left: 5px;
}

.commenterAvatar img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #003366;
    margin: auto;
}

.commentAuthor {
    color: #df4848;
    font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 600;
}

.feedAuthor {
    align-self: flex-end;
}

.feedAuthor p {
    font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 600;
}

.commentContent {
    font-size: 0.9rem;
    font-weight: 500;
}

.commentCreatedAtSince {
    font-size: 0.9em;
    color: #af905d;
    white-space: nowrap;
}

.blockquote {
    border-left: none;
}

.blockquote-footer::before {
    content: none;
}

.blockquote-footer {
    margin: 1em;
    color: #192243;
    background: inherit;
}

.fadeCommentContainer-appear {
    opacity: 0.01;
}

.fadeCommentContainer-appear.fadeCommentContainer-appear-active {
    opacity: 1;
    transition: opacity 3000ms;
}

.fadeCommentList-appear {
    opacity: 0.01;
}

.fadeCommentList-appear.fadeCommentList-appear-active {
    opacity: 1;
    transition: opacity 3000ms;
}

.fadeCommentList-enter {
    opacity: 0.01;
}

.fadeCommentList-enter.fadeCommentList-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fadeCommentList-leave {
    opacity: 1;
}

.fadeCommentList-leave.fadeCommentList-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

#noFeedMessageContainer {
    margin-top: 6%;
}

#noFeedMessage {
    text-align: center;
    color: #df4848;
}

#noFeedMessage i {
    font-size: 1.5em;
}

#noFeedMessage span {
    font-size: 1em;
    color: #0b132b;
}

.updateDeletePostButtonsContainer {
    justify-content: flex-end;
    margin-bottom: 1em;
    padding-right: 0;
    padding-left: 4em;
}

.updateDeletePostButtonsContainer a {
    margin-bottom: 1em;
}

.updateDeletePostButtonsContainer a .material-icons {
    font-family: "Material Icons";
    font-style: normal;
    line-height: 1;
    vertical-align: -0.3em;
    cursor: pointer;
}

.updatePostIcon .material-icons {
    color: #132668;
    margin-right: 0.5em;
    font-size: 1.3em;
}

.updatePostIcon .material-icons:hover {
    color: #3943b7;
}

.deletePostIcon .material-icons {
    align-items: flex-end;
    font-size: 1.4em;
}

.deletePostIcon .material-icons:hover {
    color: #c32830;
}

#uploadPostImageButton {
    margin-top: 1em;
    padding-left: 0;
}

#postImageLabel {
    align-self: center;
}

#postImageFileInfo,
#locationErrorInfo {
    margin: 0.5em auto;
}

#postImageFile {
    padding-left: 0;
}

#postImageFile img {
    max-height: 230px;
    width: 100%;
}

.postImage {
    margin: 1em auto;
    margin-top: 0;
}

.postImage img {
    max-height: 200px;
    width: 100%;
}

.form-control-label {
    justify-content: flex-start;
}

.dropdown-menu {
    min-width: 90%;
    left: 5% !important;
    transform: translate3d(0px, 35px, 0px) !important;
}

.dropdown-menu .form-control-label {
    padding-left: 3em;
    justify-content: flex-start;
}

#listOfEmailsForApprovalContainer {
    margin: 0 auto;
    margin-top: 10em;
}

#noEmailForApprovalErrorMessageContainer {
    margin-top: 3em;
}

#listOfEmailsForApprovalContainer button.dropdown-toggle {
    min-width: 300px;
}

.feedPostType {
    margin-left: 1em;
    font-size: 1em;
}

#profilePictureContainer {
    display: flex;
    margin: 3em auto;
    margin-bottom: 1em;
}

#profilePictureContainer #profilePicture {
    width: 90px;
    height: 90px;
}

#profilePictureContainer #profilePicture img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #003366;
}

#profilePictureContainer #profilePicture .css-15s48b {
    top: 25%;
    left: 25%;
}

#profilePictureLabel {
    align-self: center;
    padding-left: 0;
}

#uploadButton {
    align-self: flex-end;
}

#uploadButton .col {
    padding-left: 5px;
}

#uploadButton {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

#uploadButton label {
    margin-left: -1em;
    margin-top: 3.5em;
    color: gray;
    background-color: white;
    padding: 0;
    font-size: 1em;
    width: 200px;
}

#uploadButton label:hover {
    text-decoration: underline;
    color: #df4848;
    cursor: pointer;
}

#uploadButton #orgProfileImage,
#uploadButton #profileImage {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    width: 200px;
}

@media only screen and (max-width: 768px) {
    /* for mobile phone */
    #post {
        margin-top: 2em;
    }
    #organisationAvatar {
        margin-bottom: 10%;
    }
    #organisationAvatar img {
        margin-top: 5%;
    }
    .feedPhoto img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .commentContainer {
        padding: 1em 0.5em;
    }
    .currentUserAvatar {
        text-align: center;
        margin-bottom: 1em;
    }
    .currentUserAvatar img {
        width: 30px;
        height: 30px;
    }
    .commentPostButton {
        text-align: center;
    }
    .commentsList {
        margin: auto 5px !important;
    }
    .commentsList ul li {
        margin-right: 0px;
    }
    #comments {
        margin-top: 2em;
    }
    .list-group-item {
        padding: 20px !important;
    }
    .commentContent {
        display: block;
    }
    #termsOfUse,
    #privacyPlicy,
    #footerCopyright {
        padding: 0;
    }
}