@font-face {
  font-family: 'Quicksand Book';
  src: url('../assets/css/Fonts/Quicksand_Book.otf') format('opentype');
}

@font-face {
  font-family: 'Quicksand Bold';
  src: url('../assets/css/Fonts/Quicksand_Bold.otf') format('opentype');
}

html {
  line-height: 1;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #000000;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Quicksand Book';
}

strong {
  font-weight: bold;
}

#root {
  display: flex;
  justify-content: center;
  background: #f7f6f6;
}

.App {
  background: transparent;
  height: auto;
  position: relative;
}

.App-header {
  display: flex;
  padding: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
  background: #fff;
  padding-left: 4%;
  padding-right: 1%;
  width: 100vw;
  height: 70px;
  margin: 0;
}

.App-header #headerImage {
  text-align: center;
  margin-top: -5px;
}

.App-header #headerImage img {
  height: 50px;
  width: 280px;
}

.App-header #headerLogoImage img {
  width: 100%;
  height: 30px;
  border: 2px solid transparent;
}

#headerLogoImage {
  padding-top: 0.5em;
}

#headerApproveOrgsLink,
#headerLogoutLink,
#headerFeedLink,
#headerSignInLink,
#headerProfileLink {
  padding-left: 0.5em;
  padding-right: 0;
  padding-top: 0.8em;
  align-self: center;
  justify-content: flex-end;
  color: #000;
  font-weight: bold;
  margin-right: 2em;
  text-align: center;
  cursor: pointer;
}

#headerFeedLink {
  text-align: left;
  padding-top: 0.5em;
}

#headerProfileLink {
  text-align: center;
}

#headerFeedLink i {
  color: #68c5b5;
  font-size: 1.6em;
}

#headerLogoutLink,
#headerSignInLink,
#headerProfileLink,
#headerFeedLink {
  margin-right: 0;
}

#headerSignInLink {
  text-align: center;
  margin-left: -1em;
}

#headerSignInLink {
  text-align: right;
}

#headerLogoutLink {
  padding-left: 0;
  text-align: right;
  margin-left: -1em;
}

#headerLogoutLink .headerLinkTextContent {
  padding-left: 0;
}

#headerApproveOrgsLink {
  text-align: right;
  padding-right: 1em;
}

#headerApproveOrgsLink span,
#headerSignInLink span,
#headerFeedLink span,
#headerProfileLink span {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.7em;
}

#headerLogoutLink span {
  padding-left: 0em;
  padding-right: 0.5em;
  padding-bottom: 0.7em;
}

.activePage {
  border-bottom: 4px solid #ffcd48;
}

#headerApproveOrgsLink span:hover,
#headerLogoutLink span:hover,
#headerSignInLink span:hover,
#headerFeedLink span:hover,
#headerProfileLink span:hover {
  border-bottom: 4px solid #ff4754;
}

#headerApproveOrgsLink,
#headerLogoutLink {
  margin-left: 0;
  margin-right: 0;
}

#headerProfileLink img {
  margin-bottom: 0.5em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #003366;
}

.App-main {
  display: flex;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
  width: 100vw;
  min-height: 100vh;
  margin-right: 0;
  background: #f7f6f6;
  position: relative;
  overflow-x: hidden;
}

.App-main:before {
  content: '';
  background: #000;
  width: 100vw;
  height: 100%;
  top: 0;
  z-index: -3;
  position: absolute;
  opacity: 0.1;
}

.App-main > div {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
}

.App-footer {
  display: flex;
  justify-content: flex-start;
  background: #68c5b5;
  width: 100vw;
  height: 60px;
  margin: 0;
  position: absolute;
  bottom: -60px;
}

.App-footer div.col {
  align-self: center;
}

.App-footer p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9em;
}

#poweredby,
#userAggreement,
#privacyPlicy,
#feedback,
#faq {
  padding-top: 0.7em;
}

#userAggreement,
#privacyPlicy,
#feedback,
#faq {
  text-align: center;
}

#poweredby {
  text-align: left;
}

#poweredby a,
#userAggreement a,
#privacyPlicy a,
#feedback a,
#faq a {
  font-weight: 400;
  color: #000;
}

#poweredby a:hover,
#userAggreement a:hover,
#privacyPlicy a:hover,
#feedback a:hover,
#faq a:hover {
  text-decoration: none;
  color: #ff4754;
}

#signIn {
  background: transparent;
  border: none;
  color: #000;
}

#signUpsignInhr {
  margin: 2em 3.5em 2em 3.5em;
}

#landingPageMain {
  margin-left: 0;
  margin-right: 0;
}

#landingPageContentSection {
  background: #fff;
  margin: 5em auto;
  max-width: 650px;
  min-height: 550px;
  margin-bottom: 2.5em;
}

#landingPageSignUpSignInContainer {
  margin-top: 0;
  padding-bottom: 4em;
}

#landingPageUserType {
  margin-bottom: 1.5em;
}

#landingPageUserType p {
  margin-left: 0.5em;
}

#landingPageSignUpSignInContainer label {
  text-align: right;
}

#landingPageOrganisationButton,
#landingPageVolunteeButton {
  border-radius: 0;
  height: 50px;
  width: 100%;
  background: #fff;
  color: #000;
  border: 1px solid #c2c2c2;
}

#registerConfirmPassword {
  padding-right: 0;
}

#landingPageInfo {
  padding: 2em;
}

#landingPageInfo {
  padding-top: 2em;
  padding-bottom: 5em;
  padding-left: 3.5em;
  background-image: url('../assets/images/Backgroundillustrationweb-01.jpg');
  color: #fff;
  background-size: 100% 100%;
  flex-direction: column;
  height: 500px;
  max-height: 556px;
  max-width: 780px;
}

#landingPageInfo hr {
  background: #fff;
  margin-right: 3em;
  margin-left: 1.5em;
}

#landingPageInfo hr:nth-of-type(2) {
  margin-top: 4em;
  margin-bottom: 0;
}

#landingPageWelcome img {
  height: 35px;
  width: 150px;
  margin-left: 0.5em;
}

#landingPageWelcome h1 {
  margin-bottom: 0;
}

#landingPageWelcome h1,
#landingPageWelcome h6 {
  text-align: center;
}

#landingPageWelcome h6 {
  margin-bottom: 1em;
}

#landingPageInfo i {
  vertical-align: bottom;
}

#landingPageInfo p {
  font-size: 1.2em;
  margin: 0.5em auto;
  margin-top: 0.3em;
}

#userAggrementCheckbox {
  margin: 1em;
}

#userAggrementCheckbox input {
  margin-top: 0.8em;
}

.selectedUserTypeButton {
  background: #fed976 !important;
  color: #000;
}

#signUpButton,
#signInSubmit,
#forgotPasswordSubmit,
#doneProfileButton {
  background-color: #68c5b5;
  height: 61px;
  width: 100%;
  border-radius: 0;
}

#doneProfileButton {
  height: 50px;
}

#signUpButton:hover,
#signInSubmit:hover,
#forgotPasswordSubmit,
#doneProfileButton:hover {
  background-color: #c32830;
}

#signUpFacebook .kep-login-facebook.metro {
  width: 100%;
}

.orLoginWithFacebook {
  margin: 2em 1em 1em 1em;
}

#loginFacebook .kep-login-facebook.metro {
  width: 100%;
}

#loginError,
.createUserError,
.feedbackError,
.feedbackSucccess {
  margin-top: 1em;
  margin-bottom: 0;
}

#forgotPassword {
  margin: 1em auto;
}

#forgotPassword span {
  color: #68c5b5;
  font-size: 0.9em;
}

#forgotPassword span:hover {
  color: #c32830;
  text-decoration: underline;
  cursor: pointer;
}

#organisationNameLabel {
  padding-left: 0;
}

#registrationForm .form-group,
#signinForm .form-group,
#profile .form-group {
  margin-bottom: 0;
  margin-top: 0;
}

#registrationForm .form-group div,
#signinForm .form-group div,
#profile .form-group div {
  margin-bottom: 0;
  padding-bottom: 0;
}

#registrationForm .form-control,
#signinForm .form-control,
#profile .form-control {
  border-radius: 0;
  margin-bottom: 0;
  height: 61px;
  width: 100%;
  padding-bottom: 0;
  border-width: 1px;
  border-bottom-width: 0;
}

#signinForm .form-control#userLoginPassword {
  border-bottom-width: 1px;
}

#registrationForm #userRegistrationConfirmPassword.form-control,
#signinForm #userRegistrationConfirmPassword.form-control {
  border-bottom-width: 1px;
}

#profile #interest {
  margin-top: 1.5em;
}

#profile #interestsHeading {
  margin-top: 1.5em;
}

#profile .form-control {
  border-width: 0;
  height: 50px;
  border-bottom-width: 1px;
}

#profile .list-group-item {
  padding: 0;
  border-radius: 0;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 1em;
  border: 0;
  margin-bottom: 2em;
  flex-basis: 26%;
}

#profile #listOfInterests {
  padding-left: 0;
  padding-right: 0;
}

#profile label {
  margin: 1em 0 0 0.5em;
}

#profile .interestDetail-info {
  float: right;
  cursor: pointer;
  margin-right: -1.4em;
  margin-top: -1.3em;
  color: #6acf89;
  font-size: 1.1em;
}

#profile .interestDetail-info::after {
  content: '';
  clear: both;
  display: table;
}

#profile .relatedTagsHeading {
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 0.3em;
  font-size: 1em;
  text-decoration: underline;
  font-weight: 600;
}

#profile .relatedTags {
  padding-left: 1em;
}

#profile .relatedTags li {
  list-style: none;
}

#registrationForm input:focus,
#signinForm input:focus {
  border-width: 1px;
}

.interestButton {
  border: none;
  background-color: #d8d8d8;
  color: #000;
}

.selectedButton {
  color: #000;
  background-color: #fed976;
}

.interest {
  margin: 10px;
}

.selectedButton,
.interestButton {
  text-align: center;
  font-size: 1em;
  box-sizing: content-box;
  min-width: 120px;
  cursor: pointer;
  border: none;
  padding: 1.5em 0.8em;
  border-radius: 0;
  border: none;
}

.btn::first-letter,
.selectedButton::first-letter {
  text-transform: capitalize;
}

.btn.btn-secondary {
  border: none;
}

.interestButton:hover,
.selectedButton:hover {
  background-color: #c32830;
  color: #fff;
  border-color: transparent !important;
}

.btn-secondary:focus,
.btn-secondary.focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #000;
}

#selectUserType:not(button) {
  line-height: 1.5;
  text-align: center;
}

#selectUserType p {
  padding-left: 5px;
}

#submitUserTypeButton,
#submitUpdateInterest,
#cancelUpdateInterest {
  padding: 0.5em 1em;
  background: #c32830;
  color: #fff;
  border: none;
}

#submitUserTypeButton:hover,
#submitUpdateInterest:hover,
#cancelUpdateInterest:hover {
  background: #ff4754;
  color: #fff;
}

#updateInterestType {
  text-align: center;
}

hr {
  background: #132668;
}

#interest li {
  font-size: 0.9em;
  width: auto;
}

#userTypeText {
  padding: 5px;
  padding-left: 6px;
}

#userTypeText,
#organisationUserType,
#volunteerUserType {
  padding-top: 7px;
  margin-right: 5px;
}

.submitPost {
  text-align: center;
}

.submitPost button:hover {
  background: #ff4754;
  color: #fff;
}

.submitPost hr {
  margin-top: 5px;
}

#organisationAvatar {
  text-align: center;
}

#organisationAvatar img {
  border-radius: 50%;
  border: 2px solid #003366;
  margin-top: 50%;
  width: 100px;
  height: 100px;
}

.center-loading,
.center-loading-landingPage {
  margin: 10%;
  margin-left: 35%;
  margin-bottom: 18%;
}

#interestRingLoader,
#updateInterestRingLoader,
#feedRingLoader {
  margin-top: 15%;
}

#postImageFile #postUploadImageringLoader > div {
  left: 35%;
}

.center-loading {
  margin-top: 15%;
}

.center-loading-landingPage {
  margin-top: 0;
}

#filterPosts,
#betaVersionInfo,
.feed,
#post,
#noFeedMessage,
#profile,
#showProfile,
.footerLinks,
#unApprovedOrgsMesage {
  font-family: 'Quicksand Book';
  background-color: rgb(255, 255, 255);
  border: 1px solid #e6e7e9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.feed {
  padding: 0 1.5em;
  margin: 3em auto;
  position: relative;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

#post {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding: 1.5em;
  margin: 2.5em 7em 2.5em 7em;
  position: relative;
}

#showProfile {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding: 1.5em 3em;
  position: relative;
}

#post #closePostPopup,
#showProfile #closePostPopup {
  color: #df4848;
  position: absolute;
  top: -1em;
  font-size: 1.5em;
}

#post #closePostPopup {
  right: -2em;
}

#showProfile #closePostPopup {
  right: -1em;
}

#post #closePostPopup i:hover,
#post#closePostPopup i:focus,
#showProfile #closePostPopup i:hover,
#showProfile #closePostPopup i:focus {
  color: #df4848;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.6em;
}

#noFeedMessage {
  padding: 1.5em;
  margin-bottom: 2.5em;
}

.footerLinks {
  margin: 2.5em 9em;
  margin-top: 2em;
  padding: 2em 3em;
}

#profile {
  max-width: 944px;
  margin: 2.5em auto;
  padding: 2em 3em;
}

#unApprovedOrgsMesage,
#betaVersionInfo {
  margin: 2.5em 9em -1em 9em;
  margin-top: 2em;
  padding: 0.5em 1em;
  background: #ed684b;
  border: none;
}

#unApprovedOrgsMesage p,
#betaVersionInfo p {
  font-size: 1em;
  margin-bottom: 0;
  color: #fff;
}

#unApprovedOrgsMesage p {
  text-align: center;
}

#betaVersionInfo {
  margin: 0 9em 1em 9em;
  text-align: justify;
}

#unApprovedOrgsMesage p > i {
  color: #000;
  vertical-align: middle;
}

#feedSection,
#landingPage {
  position: relative;
  display: flex;
}

#filterPosts,
#createPostButton {
  top: 21.5%;
  position: fixed;
}

#filterPosts {
  left: 3%;
}

#filterPosts .form-group {
  margin-top: 0;
}

#createPostButton {
  right: 2%;
  z-index: 999;
}

#createPostButton .postBtn {
  border: none;
  background: #fff;
  color: #000;
  font-weight: 600;
}

#createPostButton i {
  color: #6acf89;
  font-size: 1.5em;
  vertical-align: middle;
  font-weight: 900;
}

#createPostButton button:hover {
  background: #ed684b;
  color: #fff;
}

#filterPostsAsksOffers,
#filterPostsMostRecent,
#filterPostsByTags,
#filterPostsHeading {
  margin: 0em;
  padding: 0.5em 0em;
  cursor: pointer;
  text-align: center;
}

#filterPostsMostRecent,
#filterPostsHeading {
  text-align: left;
}

#filterPostsAsksOffers div:nth-child(2) {
  padding: 0;
}

#filterPostsHeading {
  padding-bottom: 0;
  margin-bottom: 1em;
  margin-right: 0;
  margin-left: 0;
  background: #f7f6f6;
}

#filterPostsByTags {
  width: 100%;
  padding: 0.5em 0em;
  margin: 0em;
}

#filterPostsByTags .btn-group {
  width: 100%;
}

#filterPostsByTags div.dropdown-menu {
  background: #fff;
  width: 100%;
  outline: 0;
  max-height: 250px;
  overflow: scroll;
}

#filterPostsByTags button.btn-primary,
#filterPostsByTags div.dropdown-menu button:hover {
  background: #1abc9c;
}

#filterPostsByTags button.btn {
  border: none;
}

.selectedTag {
  color: #000;
  background-color: #727b84;
  opacity: 0.65;
  width: 100%;
}

.activeFilter {
  font-weight: 700;
}

.unSelectedTag,
select option:checked {
  background-color: white !important;
}

#locationDetectIconContainer {
  padding-left: 0;
  padding-right: 0;
  align-self: center;
}

#ToolTipUseCurrentLocationIcon {
  position: absolute;
  right: 1.1em;
  top: 0.15em;
  font-size: 0.9em;
  color: #498b9d;
  cursor: pointer;
  background: transparent;
  border: 0;
  padding: 0.5em;
}

#ToolTipUseCurrentLocationIcon button {
  width: 95%;
}

#ToolTipUseCurrentLocationIcon i {
  font-weight: 900;
  font-size: 1.5em;
  box-sizing: border-box;
  vertical-align: middle;
}

.location-loading {
  top: 0;
}

#postInterestTags {
  min-height: 200px;
}

#postInterestTags.form-control {
  padding: 0.3em 0.3em;
}

.input-group .form-control:first-child,
.input-group .form-control:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#postInterestTags > option {
  padding: 0.3em 0.3em;
  border-bottom: 1px dashed #363f7f;
  width: 100% !important;
}

#selectInfo {
  font-size: 13px;
  margin-left: 15px;
  padding-top: 12px;
  margin-bottom: 0;
}

.form-control-label {
  display: flex;
  justify-content: center;
}

.feedPhoto {
  margin-top: 1em;
  padding-left: 0.5em;
  padding-right: 0em;
  text-align: center;
}

.feedPhoto img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #003366;
  cursor: pointer;
}

.feedPhoto img:hover {
  border-color: #ed684b;
}

.feedTags,
.feedLocation,
.feedCreatedAt,
.feedPostType,
.feedUrl {
  color: #465362;
  font-size: 1rem;
  opacity: 0.9;
}

.feedTags {
  margin-left: 1em;
  font-style: italic;
}

.feedTags .individualFeedTags {
  background: #ed684b;
  color: #fff;
  padding: 0.2em 0.5em;
}

.feedTagsIcon,
.feedLocationIcon {
  color: #003366;
  padding-right: 0;
  text-align: left;
}

.feedCreatedAt {
  text-align: left;
  padding-right: 0;
}

.feedUrl {
  margin-bottom: 1em;
}

.feedUrl a {
  color: #498b9d;
  text-decoration: underline;
}

.feedLocationIcon i,
.feedCreatedAtIcon i {
  vertical-align: baseline;
}

.feedTagsIcon i {
  vertical-align: sub;
}

.feedCreatedAt {
  color: #465362;
  font-size: 0.9rem;
  margin-bottom: 2px;
  padding-left: 0;
}

.feedCreatedAt p {
  font-size: 1em;
}

.separatorHr {
  margin-top: 1em;
}

.commentIcon {
  text-align: center;
  color: #498b9d;
}

.commentIcon a {
  color: #498b9d;
}

.sharePost {
  color: #498b9d;
}

.comments {
  background: #498b9d;
  padding: 1em 0.5em;
  margin-left: -1.6em;
  margin-right: -1.6em;
  margin-bottom: -0.2em;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  position: relative;
  z-index: 10;
  margin-top: 1em;
}

.comments:before {
  content: '';
  left: 0;
  top: 0;
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  opacity: 0.58;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.feedBody {
  margin-top: 1em;
  padding-left: 5px;
}

.feedContent {
  font-size: 1.2em;
}

.feedContent i {
  font-size: 0.3em;
  vertical-align: text-top;
}

.currentUserAvatar {
  align-self: center;
  padding-left: 1px;
}

.currentUserAvatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #003366;
  margin-top: 0.3em;
}

.commentContainer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 0.7;
  color: #0b132b;
}

button {
  cursor: pointer;
}

.newCommentInputContainer {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0.5em;
}

.newCommentInputContainer div:first-child {
  width: 94%;
}

.newComment {
  height: 60px;
  width: 100%;
  color: #132668;
  padding-right: 1em;
}

.commentButtonContainer {
  padding-left: 0;
}

.commentShowHideButton {
  background: transparent !important;
  outline: none !important;
  border-color: transparent;
  border: none;
  outline: none !important;
  text-align: center;
  border: 0.5px solid transparent;
  box-shadow: none !important;
  margin: 1em auto;
  margin-top: 0;
  padding: 5px;
  color: #132668;
}

.commentShowHideButton:hover {
  background: #c32830 !important;
}

.commentShowHideButton .badge {
  background: #c32830;
  color: #fff;
  border: none;
}

.commentShowHideButton i:last-of-type {
  font-weight: 600;
}

.commentPostButton {
  margin-top: auto;
  padding-left: 0;
}

.commentPostButton button {
  padding: 0.5em 3em;
  background: #6acf89;
  color: #111a49;
  border: none;
}

.commentPostButton button:hover {
  background: #ff4754;
  color: #fff;
}

.commentsList {
  margin-left: 0.5em;
  color: #0b132b;
  font-size: 0.7em;
}

.commentsList .list-group-item {
  background: inherit;
  font-size: 1.2em;
  padding: 0.5em 0 0.5em 2rem;
  border: none;
}

.commentContentContainer {
  margin-left: 1em;
  padding: 1.5em 1em;
  background: #fff;
  border-radius: 6px;
}

.commentContentContainer hr {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.commentsList ul li {
  border: none;
  border-width: thin;
}

.commenterAvatar {
  align-self: center;
}

.commenterAvatar img {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #003366;
  cursor: pointer;
}

.commenterAvatar img:hover {
  border-color: #ed684b;
}

.commentAuthor {
  color: #df4848;
  font-family: 'Quicksand Book';
  font-style: italic;
  font-weight: 600;
}

.showComment {
  text-decoration: underline;
  color: #498b9d;
}

.showComment:hover {
  color: #df4848;
  cursor: pointer;
}

.feedAuthor {
  align-self: flex-end;
  padding-left: 0em;
}

.feedAuthor p {
  font-family: 'Quicksand Book';
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0;
  color: #808184;
}

.commentContent {
  font-size: 0.9rem;
  font-weight: 500;
}

.commentCreatedAtSince {
  font-size: 0.9em;
  color: #498b9d;
  white-space: nowrap;
  padding-right: 0;
  align-self: center;
}

.commentsList hr {
  background: #498b9d;
  margin-right: 1.5em;
}

.commentsList hr:first-of-type {
  margin-top: 0em;
  margin-bottom: 0em;
}

.fadeCommentContainer-appear {
  opacity: 0.01;
}

.fadeCommentContainer-appear.fadeCommentContainer-appear-active {
  opacity: 1;
  transition: opacity 3000ms;
}

.fadeCommentList-appear {
  opacity: 0.01;
}

.fadeCommentList-appear.fadeCommentList-appear-active {
  opacity: 1;
  transition: opacity 3000ms;
}

.fadeCommentList-enter {
  opacity: 0.01;
}

.fadeCommentList-enter.fadeCommentList-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadeCommentList-leave {
  opacity: 1;
}

.fadeCommentList-leave.fadeCommentList-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

#noFeedMessageContainer {
  margin-top: 6%;
}

#noFeedMessage {
  text-align: center;
  color: #df4848;
}

#noFeedMessage i {
  font-size: 1.5em;
}

#noFeedMessage span {
  font-size: 1em;
  color: #0b132b;
}

.updateDeletePostButtonsContainer div:nth-child(2) {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: auto;
  right: 1.5em;
  padding: 0.3em;
  text-align: center;
}

.updateDeletePostButtonsContainer div:nth-child(2):before {
  content: '';
  background: #000;
  width: 100%;
  z-index: -12;
  position: absolute;
  top: 0.1em;
  right: 0em;
  height: 100%;
  opacity: 0.4;
}

.updateDeletePostButtonsContainer span {
  color: #fff;
  cursor: pointer;
}

.updateDeletePostButtonsContainer span a {
  color: #fff;
}

.updateDeletePostButtonsContainer span a:hover,
.updateDeletePostButtonsContainer span:last-child:hover {
  color: #c32830;
}

#uploadPostImageButton {
  margin-top: 1em;
  padding-left: 0;
}

#postImageLabel {
  align-self: center;
}

#postImageFileInfo,
#locationErrorInfo {
  margin: 0.5em auto;
}

#postImageFile {
  padding-left: 0;
}

#postImageFile img {
  max-height: 230px;
  width: 100%;
}

.postImage {
  margin: 1em auto;
  margin-top: 0;
  text-align: center;
}

.postImage img {
  max-height: 250px;
  max-width: 740px;
  width: 100%;
}

.form-control-label {
  justify-content: flex-start;
}

.dropdown-menu {
  min-width: 90%;
  left: 2%;
  transform: translate3d(0px, 35px, 0px) !important;
}

.dropdown-menu .form-control-label {
  padding-left: 3em;
  justify-content: flex-start;
}

#listOfEmailsForApprovalContainer {
  margin: 0 auto;
  margin-top: 10em;
}

#noEmailForApprovalErrorMessageContainer {
  margin-top: 3em;
}

#listOfEmailsForApprovalContainer button.dropdown-toggle {
  min-width: 300px;
}

.feedPostType {
  margin-left: 1em;
  font-size: 1em;
}

#profilePictureContainer {
  display: flex;
  margin: 3em auto;
  margin-bottom: 1em;
}

#profilePictureContainer #profilePicture {
  margin-top: 1em;
  width: 90px;
  height: 90px;
}

#profilePictureContainer #profilePicture img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #003366;
}

#profilePictureContainer #profilePicture .css-15s48b {
  top: 25%;
  left: 25%;
}

#profilePictureLabel {
  align-self: center;
  padding-left: 0;
}

#uploadButton {
  align-self: flex-end;
  margin-top: 1em;
}

#uploadButton .col {
  padding-left: 5px;
}

#uploadButton {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

#uploadButton label {
  margin-left: 0.5em;
  margin-top: 1em;
  color: gray;
  background-color: white;
  padding: 0;
  font-size: 0.9em;
  width: 100%;
}

#post #uploadButton label {
  width: 200px;
  font-size: 1em;
  margin-top: 3.5em;
}

#uploadButton label:hover {
  text-decoration: underline;
  color: #df4848;
  cursor: pointer;
}

#uploadButton #orgProfileImage,
#uploadButton #profileImage {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  width: 200px;
}

#profileImageInfo {
  font-size: 0.8em;
  color: inherit;
  padding-left: 0.8em;
}

#askAndOffer {
  border: 2px solid #498a9c;
  border-radius: 5px;
}

.askandoffres__button {
  width: 50%;
  background-color: white;
  color: #498a9c;
  border-radius: 1px;
  border: none;
}

.askandoffres__button:hover {
  background-color: #498a9c;
  color: white;
}

#askAndOffer .btn-secondary:not(:disabled):not(.disabled):active,
#askAndOffer .btn-secondary:not(:disabled):not(.disabled).active {
  background-color: #498a9c;
  color: white;
}

.form-group {
  margin-top: 20px;
}

#postContent {
  margin: 0;
  width: 105%;
  height: 200px;
}

#textArea {
  margin-left: -15px;
}

#uploadImage {
  position: absolute;
  color: #fff;
  cursor: pointer;
}

#postPictureContainer #uploadImage {
  width: 100px;
  background-color: #000;
  margin-left: 10px;
  text-align: center;
  top: 2.8em;
  right: 1em;
  opacity: 0.5;
}

#uploadImage:hover {
  color: #df4848;
}

#post input[type='file'] {
  display: none;
}

.btn___interest {
  background-color: #d7d7d7;
  color: black;
  max-width: 200px;
  width: 160px;
  height: 80px;
  margin: 9px;
  border-radius: 2px;
  text-transform: lowercase;
}

.btn___interest:hover {
  background-color: #ec674b;
  color: white;
}

.selectedTag {
  color: black;
  background-color: #ffcd47;
  text-transform: lowercase;
}

.submitPost .submit {
  background-color: #68c5b5;
  color: white;
}

.submitPost.submit:hover {
  background-color: #ec674b;
  color: white;
}

.submitPost .submit:disabled {
  background-color: #abded6;
  color: black;
  cursor: text;
}

#post {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55vw;
  margin-left: auto;
  margin-right: auto;
}

#popup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_inner {
  position: absolute;
  top: 3%;
  margin: auto;
}

#feedbackMessagebody {
  height: 250px;
}

#feedbackMessageSendButton {
  background-color: #68c5b5;
  height: 61px;
  width: 100%;
  border-radius: 0;
}

#feedbackMessageSendButton:hover {
  background-color: #c32830;
}

#profileImage {
  display: flex;
  justify-content: center;
}

#profileImage div {
  max-height: 150px;
  max-width: 150px;
  margin-bottom: 2em;
  margin-top: 2em;
  text-align: center;
}

#profileImage p img {
  height: 140px;
  width: 140px;
  border-radius: 10%;
}

#profileImage p {
  text-align: center;
}

#profileName {
  display: flex;
  justify-content: center;
}

#profileName h5 {
  text-transform: capitalize;
  text-align: center;
}

#profileDescription div:first-child p,
#profileUrl div:first-child p {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  /* for mobile phone */
  #post {
    margin-top: 2em;
  }
  #organisationAvatar {
    margin-bottom: 10%;
  }
  #organisationAvatar img {
    margin-top: 5%;
  }
  .commentContainer {
    padding: 1em 0.5em;
  }
  .currentUserAvatar {
    text-align: center;
    margin-bottom: 1em;
  }
  .currentUserAvatar img {
    width: 30px;
    height: 30px;
  }
  .commentPostButton {
    text-align: center;
  }
  .commentsList {
    margin: auto 5px !important;
  }
  .commentsList ul li {
    margin-right: 0px;
  }
  .list-group-item {
    padding: 20px !important;
  }
  .commentContent {
    display: block;
  }
  #termsOfUse,
  #privacyPlicy,
  #footerCopyright {
    padding: 0;
  }
}

/* media query section*/

@media (min-width: 0) and (max-width: 650px) {
}

@media (min-width: 450px) and (max-width: 650px) {
}

@media (min-width: 650px) {
}

@media (max-width: 650px) {
}

@media (min-width: 650px) and (max-width: 960px) {
  .headerLinkTextContent {
    display: none;
  }
  #headerProfileLink,
  #headerLogoutLink {
    text-align: left;
  }
  .App-footer {
    flex-direction: row;
  }
}

@media (min-width: 960px) {
}

@media (min-width: 1200px) {
}
